<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
    <script src="https://kit.fontawesome.com/5152f77347.js" crossorigin="anonymous"></script>
</head>
<body onload="rain();">
  <div class="container">
    <span id="flake0" style="cursor: default; user-select: none; position: absolute; font-family: inherit; font-size: 19px; color: rgb(221, 221, 221); z-index: 1000; left: 226px; top: 561px;">•</span>

  
   <!-- Hero -->
   <div class="dataBox">
  <h1L>Weather</h1>
   <h4>Temp:<%=  data.currently.temperature || "hello" %></h4>
   <p>Summary:<%=  data.currently.summary || "hello" %></p>
   <p>Wind Speed:<%=  data.currently.windSpeed || "hello" %></p>
</div>
   <!-- For loop over daily temps -->
   <div class="box">
   <% for(let i=0;i<7;i++) { %>
    <div class="MaxMinTempsBox">
      <p><%=  data.daily.data[i].temperatureMax %></p>
      <p><%=  data.daily.data[i].temperatureMin %></p></div>
   <% } %>
    </div>
   <!-- <p>Monday :<%=  data.daily.data[0].temperatureMax || "hello" %></p> -->


</div>
<script src="js/snow.js"></script>
<script src="js/rain.js"></script>

</body>
</html>